[core]
  editor = nvim
  pager = delta
[color]
  ui = auto
[interactive]
  diffFilter = delta --color-only
[init]
	defaultBranch = main
[alias]
  ci = commit
  st = status
  co = checkout
  br = branch
[fetch]
  prune = true
[merge]
  autostash = true
  conflictstyle = diff3
[rebase]
  autostash = true
  autosquash = true
[push]
  default = current
[pull]
  rebase = true
[diff]
  colorMoved = default
[delta]
  navigate = true
[ghq]
	root = ~/repos
[include]
  path = ~/.gitconfig.local
